.page-login {
    background-color: #242426!important;
    color:white!important;
}
.form-block {
  background-color: #0a0a0a!important;
  color:white!important;
}
.expenseListItem{
   
    padding-right: 10px;color:white;margin-bottom: 10px;

}

ion-calendar-month button.days-btn p {
    color: white;
  }
  ion-calendar .title .switch-btn {
 
    color: white;
  }
  ion-calendar-week .week-title.transparent {
    color: white;
  }
  ion-calendar .title .back, ion-calendar .title .forward {
    color: white;
  }
  ion-calendar-month-picker .month-packer-item button {
    background-color: #242426!important;
    color: white;
  }